# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*/.vs/*
*/out/*
*.vsidx
*.vsidx
quant-library/.vs/cmake.db
quant-library/.vs/quant-library/FileContentIndex/3720258c-8f37-481c-8c5a-fa312b795566.vsidx
quant-library/.vs/quant-library/FileContentIndex/99a2cd45-e75e-4c4f-b90c-c12355f4d7d7.vsidx
quant-library/.vs/quant-library/FileContentIndex/e622e2b3-e427-44bb-8590-b8aa05e02f25.vsidx
quant-library/.vs/quant-library/v17/.wsuo
quant-library/.vs/quant-library/v17/Browse.VC.db
quant-library/.vs/quant-library/v17/ipch/AutoPCH/1e3c2a19ccaa6774/QUANT-LIBRARY.ipch
quant-library/.vs/slnx.sqlite
quant-library/out/build/x64-debug/.cmake/api/v1/reply/codemodel-v2-c50e228228af0a872ee0.json
quant-library/out/build/x64-debug/.cmake/api/v1/reply/index-2023-04-10T07-33-34-0536.json
quant-library/out/build/x64-debug/.cmake/api/v1/reply/target-quant-library-Debug-eac5b8ac7662eb5bf277.json
quant-library/out/build/x64-debug/Testing/Temporary/LastTest.log
